body{
text-align: center;
font-size: 50px;
}
.ver{
border-left: 5px solid #000000;
border-right: 5px solid #000000;

}
.hor{
border-top: 5px solid #000000;
border-bottom: 5px solid #000000;

}
tr{
height:50px;
width: 50px;

}
td{

height:100px;
width: 100px;
}
table{
margin: auto;
}