
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
				<% campgrounds.forEach(function(campground){ %>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="<%= campground.image %>">
					</div>
					<h4><%= campground.name %></h4>

				</div>
				<% }); %>
