body{
	width: 100%;
	background : #EEEEEE;
	margin: auto;
}

div.a{
	width: 100%;
	background : #0E1331;
	//margin: auto;
	//padding: auto;
}
div.a img{
	width: 7.5%;
	margin: 15px 20px;
	//padding: auto;
}
div.b img{
	width: 2.3%;
	margin: 85.5px 0px 0px 35px;
	//padding: auto;
	margin-top: 60px;
	margin-bottom: -15px;
}

div.c img{
	width: 80%;
	margin: 35px 80px;
	margin-top: 155px;
}

div.b .vas{
	//width: auto;
	margin: -50px 65px;
	font-family: arial;
	color: #0E1331;
	font-size: 32;
	margin-bottom: : 150px;
}
//.txtalign{
	margin: -60px 65px;
	font-family: arial;
	color: #0E1331;
	font-size: 32;
	margin-top: 40px;
}
.detail form h3{
	//background-color: white;
	//margin-left: 25px;
	//margin-top: 50px;
	//margin-right: 25px;
	//margin-bottom: 50px;
	//width: 50%;
	font-family: arial;
	color: #0E1331;
	font-size: 17;
}


form{
	background:  #FFFFFF;
	margin-left: 50px;
	margin-top: 40px;
	margin-right: 150px;
	margin-bottom: 50px;
	padding: 20px 35px ;
}

#cancel_place{
	text-decoration: none;
}

input[type=text],input[type=url],textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 2px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=submit]{
  background: #0E1331;
  color: #FFFFFF;
}

input[type=checkbox]{
	border: #828594;
	margin-left: 2px;
}

.a .ab a{
	text-decoration:none;
	color:#FFFFFF;
	float:right;
	margin:-45px 25px;
	font-size:16px;
}