body{
	background-color: #0E1331;
	//background: #FFFFFF;
  	width: 100%;
  	margin: auto;
}
table tr{
	//margin-left: 220px;
	//margin-right: 270px;
	background: #FFFFFF;

	//width: 50%;
}

table {
	margin-top: -10px;
	margin-left: 275px;
	margin-bottom: 150px;
	margin-right: 275px;
	width: 65%;
	border: none;
}

img{
	width:65%;
	margin-top: 150px;
	margin-bottom: 2px;
	margin-right: 275px;
	margin-left: 275px;
	//margin: auto;
}



.b{
	text-align: center;
	width: 50%;
	border-left: 2px solid #D9D9D9;
}

.a{
	text-align: center;
	width: 50%;
	border-right: none;
}

h3{
	width: 125%;
	text-align: left;
	margin: 20px 25px;
}

.a form{
	background-color: #FFFFFF;
	margin-left: 25px;
	margin-top: -100px;
	margin-right: 0px;
	margin-bottom: 50px;
	padding: 3px 40px ;
	width: 50%;
	border: none;
}
 .b form{
	background-color: #FFFFFF;
	margin-left: 25px;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 50px;
	padding: 30px 40px ;
	width: 50%;
	border: none;
}
form{
	width: 50%;
}

input {
  width: 125%;
  padding: 12px 20px;
  margin: 8px 25px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=submit]{
  background: #0E1331;
  color: #FFFFFF;
}

label.login{
	font-style: bold;
	font-family: "arial";
}

label.reg{
	color: #666666;
	font-family: "arial";
}

h2{
	text-align: center;
	font-family: arial;
	color: #FFFFFF;
	font-size: 14;
	padding-bottom: 15px; 
}

