body{
	width: 100%;
	background : #EEEEEE;
	margin: auto;
}

.action_win,.a{
  	//margin: auto;
  	//border: 1px solid #0E1331;
  	//padding: auto;
}

.b h4{
	width: 100%;
  	margin: auto;
  	//border: 1px solid red;
  	//padding: auto;
}

.b h2{
	width: 100%;
  	margin: auto;
  	//border: 1px solid red;
  	//padding: auto;
}

div.a, div.b {
	width: 100%;
	background : #0E1331;
	//margin: auto;
	//padding: auto;
}

div.a img{
	width: 7.5%;
	margin: 15px 20px;
	//padding: auto;

}
div.b table td img{
	width: 75%;
	margin: 10px 55px;
}
div.b table td h4, div.b table td h2{
	//margin: 0px -65px;
	//padding: auto;
}

h4, h2{
    color:#FFFFFF;
    font-family: Arial;
}

div.c {
	background : #245A99;
	margin: 5px 0px;
	height: 40px;
	//border-top: double;
}

div.c h4{
	margin: 10px 75px;
	font-family: Arial;
	//font-style:bold;
}

div.c h4:hover{
	color:#00FF00;
}

div.c h4.ab{
	margin: 0px 1px;
}

.d{
	margin-left: 75px;
	margin-right: 75px;
	//width: 50%;
  	height: 100px;  
  	padding: auto;
  	//border: 1px solid red;
}

.d h2{
	color: #222C6A;
	font-family: Thin 100;
}

.d input{
	float: right;
	background-color:#0E1331;
	border: #0E1331;
	padding: 9px 18px;
	color: #FFFFFF;
}

h5{
	text-transform: uppercase;
	color:#222C6A;
	font-size:20px;
	text-decoration:none;
	font-weight:bold;
}

h5:hover {
  text-decoration: none;
}

dec{
	color:#FFFFFF;
}

dec:hover{
	color:#00FF00;
}

h3{
	color:#737FC7;
	font-size:14px;
}

.a .ab a{
	text-decoration:none;
	color:#FFFFFF;
	float:right;
	margin:-45px 25px;
	font-size:16px;

}

a.dec{
	color: #FFFFFF;
}

a.dec:hover{
	color:#00FF00;
	text-decoration: none;
}
}