<html>
	<head>
		<title>Travelog</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/travel_css.css">
	</head>
	<body>